[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
webdriver-manager = "*"
pytest-selenium = "*"

[dev-packages]
pytest-sugar = "*"
allure-pytest = "*"

[requires]
python_version = "3.12"
